body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    margin-top: 20px;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#updated-date {
    margin-top: 10px;
    font-style: italic;
}

.note{
    background-color: #f9f9f9;
    border: 1px solid #4CAF50;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #333;
}

.note h3{
    margin-top: 0;
    color: #4CAF50;
    font-size: 18px;
}

.note a{
    color: #4CAF50;
    text-decoration: underline;
}

.note a:hover{
    text-decoration: underline;
}

.note small{
    font-size: 14px;
    color: #666;
}